<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.iov.mapper.CarMapper">

    <insert id="add">
		INSERT INTO iov_car(
			id,
			create_by,
			create_time,
			update_by,
			update_time,
			mac,
			brand,
			car_number,
			remark
		) VALUES (
			#{id},
			#{createBy},
			#{createTime},
			#{updateBy},
			#{updateTime},
			#{mac},
			#{brand},
			#{carNumber},
			#{remark}
		)
	</insert>

	<update id="updateMotorcadeById">
		update iov_car
		set sys_org_code=#{sysOrgCode}
		where id=#{id}
	</update>

</mapper>